body {
    font-family: "Segoe UI", Tahoma, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.45;
    background-color: #f0f3f6;
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

code {
    color: #a94c9d;
    font-family: Consolas, Menlo, 'Ubuntu Mono', monospace;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    font-weight: 400;
    line-height: 1.4;
}

a {
    color: #00aeff;
}

a:hover {
    text-decoration: none;
    color: #33beff;
}

#white {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 12px;
    background-color: white;
    margin-bottom: 30px;
}

#separator-white {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

#separator {
    color: #006d9a;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    height: 53px;
    background-color: #384655 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
    padding: 0px;
}

.navbar-brand {
    padding: 0px;
}

#logo-no-shadow {
    box-shadow: none;
}

#last-updated {
    color: #f0f3f6;
    margin-right: 20px;
    font-size: 13px;
}

.dataTables_wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

.btn-group,
div.dt-buttons {
    margin-bottom: 20px;
}

button.dt-button,
div.dt-button,
a.dt-button {
    background-color: #6e53a3;
    background-image: none;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
}

button:focus,
button:hover {
    outline: none;
}

button:not(.disabled).dt-button:hover,
div:not(.disabled).dt-button:hover,
a:not(.disabled).dt-button:hover {
    background-image: none;
    background-color: #7660A3;
    border: none;
}

button:not(.disabled).dt-button:active,
button:not(.disabled).dt-button.active,
div:not(.disabled).dt-button:active,
div:not(.disabled).dt-button.active,
a:not(.disabled).dt-button:active,
a:not(.disabled).dt-button.active {
    background-image: none;
    background-color: #7660A3;
}

button:not(.disabled):not(.disabled).dt-button:hover:active,
button:not(.disabled):not(.disabled).dt-button.active:hover,
div:not(.disabled):not(.disabled).dt-button:hover:active,
div:not(.disabled):not(.disabled).dt-button.active:hover,
a:not(.disabled):not(.disabled).dt-button:hover:active,
a:not(.disabled):not(.disabled).dt-button.active:hover {
    background-image: none;
    background-color: #7660A3;
}

div.dt-button-collection button:not(.disabled).dt-button:active,
div.dt-button-collection button:not(.disabled).dt-button.active,
div.dt-button-collection div:not(.disabled).dt-button:active,
div.dt-button-collection div:not(.disabled).dt-button.active,
div.dt-button-collection a:not(.disabled).dt-button:active,
div.dt-button-collection a:not(.disabled).dt-button.active {
    background-image: none;
    background-color: #6e53a3;
}

button.dt-button:focus:not(.disabled),
div.dt-button:focus:not(.disabled),
a.dt-button:focus:not(.disabled) {
    background-image: none;
    background-color: #6e53a3;
    text-shadow: none;
    border: none;
}

button:not(.disabled).dt-button:focus,
div:not(.disabled).dt-button:focus,
a:not(.disabled).dt-button:focus {
    background-image: none;
    background-color: #6e53a3;
    text-shadow: none;
    border: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    border: none;
    /*border-radius: 2px;*/
}

label {
    margin-right: 12px;
}

[type=search] {
    -webkit-appearance: unset;
    border: 1px solid #d7dde4;
}

.dataTables_wrapper .dataTables_filter input {
    height: 26px;
    width: 225px;
    zoom: unset;
    margin-right: -10px;
}

.chosen-container-multi .chosen-choices {
    background-image: none;
    border: 1px solid #d7dde4;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background-image: none;
    border: none;
    box-shadow: none;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #d7dde4;
    box-shadow: none;
}

.dropdown-item {
    font-size: 13px;
    color: #ccc;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: white;
    color: #333;
    font-weight: 500;
    font-size: 13px;
}

.buttons-copy {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.form-control {
    border: 1px solid gray;
    margin-right: 20px;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    color: #708090;
}

.inuse,
.ui-slider-range .inuse,
.yadcf-filter-range-number-slider .inuse {
    background: white;
}

table {
    width: 100% !important;
}

th {
    font-size: 14px;
    font-weight: 600;
    color: #006d9a;
    vertical-align: bottom;
    line-height: 1.3;
    font-size: 13px;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 1px solid #708090;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .15);
    font-weight: 600;
}

td {
    vertical-align: top;
}

table.dataTable tr.group td {
    background-color: #d7dde4 !important;
    font-weight: 600;
    font-size: 13px;
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
    padding-left: 10px;
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
    padding-left: 10px;
    padding-right: 10px;
}

/*** Turns off internal vertical borders
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    border-right: none;
}
*/

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #E7F1F5;
}

table.dataTable.stripe tbody>tr.odd.selected,
table.dataTable.stripe tbody>tr.odd>.selected,
table.dataTable.display tbody>tr.odd.selected,
table.dataTable.display tbody>tr.odd>.selected {
    background-color: #B9D7E3;
    border: none;
}

table.dataTable.stripe tbody>tr.even.selected,
table.dataTable.stripe tbody>tr.even>.selected,
table.dataTable.display tbody>tr.even.selected,
table.dataTable.display tbody>tr.even>.selected {
    background-color: #B9D7E3;
    border: none;
}

table.dataTable tbody th.focus,
table.dataTable tbody td.focus {
    box-shadow: none;
}

.yadcf-filter {
    border: 1px solid #d7dde4;
    color: #708090;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yadcf-filter-wrapper {
    margin-left: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.yadcf-filter-reset-button {
    margin-left: 4px;
    background-color: #d7dde4;
}

th:focus {
    outline: note;
    outline-color: transparent;
    outline-style: auto;
    outline-width: 0px;
}

.chosen-container {
    font-size: 13px;
    font-weight: normal;
    color: #708090;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background-color: #f0f3f6;
}

.chosen-container-multi .chosen-choices li.search-field input[type='text'] {
    font-family: "Segoe UI", Tahoma, Helvetica, sans-serif;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

.dataTables_wrapper .dataTables_info {
    padding-bottom: 40px;
}